<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 minutes">

    <!-- https://github.com/Tuxdude/logback-colorizer/blob/master/README.md -->
    <property scope="context" name="COLORIZER_COLORS" value="boldred@,yellow@,green@,cyan@,cyan@" />
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %colorize(%-5level) [%t][%-36logger{5}] %msg %mdc%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.datastax" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="jndi" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.validator" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.eclipse.jetty" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>